@using TeslaService.Web.ViewModels.Employee 
@model IEnumerable<EmployeeModel>

<body class="vw-100 vh-100 overflow-auto">
    <div class="text-center border-light">
        <div class="">
            <a asp-controller="Employee" asp-action="Hire" class="text-uppercase">Hire</a>
        </div>
    </div>
    <hr style=" border: 3px medium" />
    <br />
    <div class="container">
        <div class="row">
            @foreach (var emp in Model)
            {
                <div class="col-md-5 col-xl-3 col-11 m-1 p-1">
                    <!-- Employee Component -->
                    <div class="card pmd-card table-bordered ">

                        <div class="card-header pmd-card-border d-flex p-3 align-items-center">
                            <a class="pmd-avatar-list-img">
                                <img src="@emp.ImageURL" width="40" height="40" class="m-1" alt="Profile Picture">
                            </a>
                            <div class="media-body">
                                <h3 class="card-title text-center" style="font-size: 150%">@(emp.FirstName + " " + emp.LastName)</h3>
                            </div>
                            <div class="pmd-user-info ml-auto">
                                <a class="pmd-btn-fab btn-dark pmd-btn-flat btn-sm p-1"><i>employee</i></a>
                            </div>
                        </div>

                        <!-- List Group Component -->
                        <ul class="list-group pmd-list">
                            <li class="list-group-item d-flex flex-row">
                                <div class="media-body">
                                    <label class="pmd-list-subtitle text-center">Employee ID</label>
                                    <p class="pmd-list-title">Emp-@emp.Id</p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex flex-row">
                                <div class="media-body">
                                    <label class="pmd-list-subtitle">Email Address</label>
                                    <p class="pmd-list-title">@emp.FirstName@@gmail.tesla</p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex flex-row">
                                <div class="media-body">
                                    <label class="pmd-list-subtitle">Position</label>
                                    <p class="pmd-list-title">@emp.Position</p>
                                </div>
                            </li>
                            <li class="list-group-item d-flex flex-row">
                                <div class="media-body">
                                    <label class="pmd-list-subtitle">Date of Join</label>
                                    <p class="pmd-list-title">@emp.DateOfJoin</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Card Component End -->
                </div>
            }
        </div>
    </div>
</body>