@using TeslaService.Web.Controllers
@using TeslaService.Web.ViewModels.Parts
@{
    this.ViewData["Title"] = "All parts";
    var partcontroller = this.Model;
}
<body class="vw-100 vh-100 overflow-auto">
    <table class="table" style="border: 1px solid; overflow-x:auto;">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Model</th>
                <th>Price(BGN)</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PartModel part in Model)
            {
                <tr>
                    <th scope="row">@part.Id</th>
                    <td>@part.Name</td>
                    <td>@part.VehicleModel</td>
                    <td>@part.Price</td>
                    <td>@part.Quantity</td>
                    <td><button class="btn-dark" onclick="/Part/AddQuantity/@part.Name">Add</button></td>
                    <td><button class="btn-dark" asp-controller="Part" asp-action="RemoveQuantity/@part.Name">Remove</button></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
        <div class="">
            <a asp-area="" asp-controller="Part" asp-action="Create" class="buttonCreate">Create</a>
        </div>
    </div>
</body>